__pycache__/
node_modules/
hf-test/renders/
edit/r3d/
edit/blender/_tex/
tesla/04_BROLL/
tesla/06_ARCHIVE/*.tif
tesla/07_3D/renders/
tesla/12_RENDERS/picture.mp4
tesla/12_RENDERS/stem_*.wav
tesla/12_RENDERS/mix.wav
tesla/12_RENDERS/partA.mp4
tesla/12_RENDERS/FINAL_VIDEO.mp4
cocacola/04_BROLL/
cocacola/06_ARCHIVE/*.tif
cocacola/07_3D/renders/
cocacola/07_3D/_tex/
cocacola/10_MAPS/data/*.zip
cocacola/12_RENDERS/picture.mp4
cocacola/12_RENDERS/FINAL_VIDEO.mp4
cocacola/12_RENDERS/*.wav
cocacola/12_RENDERS/log_*.txt
